/* Author: Richard Myatt
   Date: 18 February 2018
   Version: 1.0.0
*/

/******************************************************************************
TABLE OF CONTENTS

AUTHOR            - Richard Myatt
DATE              - 6 December 2017
VERSION           - 1.0.0


GENERAL STYLING                - overall styling
LAYOUT STYLING                 - styling related to general layout
POST SUMMARY STYLING           - stying for post categories
ARTICLE STYLING                - article styling
MENU STYLING                   - styling for main menu
RESPONSIVE STYLING             - responsive layout styling


COLOUR PALETTE

#eee                           - off white text for heading and menu hamberger
                                 plus body colour
#fff                           - white menu bar text and post background
#ddd                           - light grey menu item background colour
#ccc                           - light grey post border and panel hover
#aaa                           - grey date text
#f00                           - red testing text
#111                           - dark grey sliding side menu background
#818181                        - grey sliding menu active
#f1f1f1                        - grey side menu text on hover
#111                           - grey side menu background
rgba(150, 150, 150, 0.8)       - grey drop down shadow
rgba(200, 200, 200, 0.8)       - grey drop down shadow
#03264a                        - dark blue title bar and top menu bar
yellow                         - menu item hover
teal                           - menu item active



******************************************************************************/


/******************************************************************************
  General styling begins
******************************************************************************/
@import url('https://fonts.googleapis.com/css?family=Lobster');

* {
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #eee;
  background-image: url("../assets/textured.jpg");
}
/* General styling ends */


/******************************************************************************
  Layout styling begins
******************************************************************************/
.main-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 100px 1fr;
      grid-template-rows: 100px 1fr;
      grid-template-areas:
    "h h h h h h h h h h h h"
    "n n n c c c c c c . . .";
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: h;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Lobster, cursive;
  letter-spacing: 3px;
  background-color: #03264a;
  -webkit-box-shadow: 0 10px 5px rgba(150, 150, 150, 0.8);
          box-shadow: 0 10px 5px rgba(150, 150, 150, 0.8);
}

.menu-and-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100px;
  color: #eee;
}

.menu-icon {
  font-size: 48px;
  padding-left: 50px;
  visibility: hidden;
}

.title-icon {
  font-size: 40px;
  font-weight: bold;
  padding-right: 50px;
}

.menu-bar {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
}

nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: n;
}

.posts {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-area: c;
  padding: 50px 50px 0 50px;
  background-color: #fff;
  -webkit-box-shadow: 4px 0 2px #ddd,  -4px 0 2px #ddd;
          box-shadow: 4px 0 2px #ddd,  -4px 0 2px #ddd;
}
/* General styling ends */


/******************************************************************************
  Post summary styling begins
******************************************************************************/
.panel4 {
  text-align: justify;
  font-size: 1.2em;
  padding: 16px;
  margin: 16px 16px 30px 16px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 4px 4px 2px rgba(200, 200, 200, 0.8);
          box-shadow: 4px 4px 2px rgba(200, 200, 200, 0.8);
}

.panel4 > h1 {
  text-align: left;
}

.panel4:hover {
  cursor: pointer;
  background-color: #ccc;
}

.title {
  padding: 20px 30px 10px 30px;
}

.date {
  color: #aaa;
  padding: 5px 30px 5px 30px;
}

.desc {
  padding: 30px;
}
/* Post summary styling ends */


/******************************************************************************
  Article styling begins
******************************************************************************/
.article {
  text-align: justify;
}

.article h1 {
  padding: 20px 30px 10px 30px;
}

.article h2 {
  padding: 50px 30px 10px 30px;
}

.article p {
  font-size: 1.2em;
  padding: 10px 30px 10px 30px;
}

.article p:first-of-type {
  font-size: 0.8em;
  color: #aaa;
  padding: 5px 30px 5px 30px;
}

.testing {
  color: #f00;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 1.3em;
}
/* Article styling ends */


/******************************************************************************
  Menu styling begins
******************************************************************************/
.closebtn {
  visibility: hidden;
}

.menu-icon:hover {
  cursor: pointer;
}

.vertical-menu-with-title {
  -webkit-box-shadow: 5px 5px 2px rgba(200, 200, 200, 0.8);
          box-shadow: 5px 5px 2px rgba(200, 200, 200, 0.8);
  position: fixed;
  top: 200px;
  left: 5%;
  width: 15%;
  font-size: 1.2em;
}

.menu-title {
  color: #fff;
  background-color: #03264a;
  padding: 8px;
}

.menu-items > div {
  padding: 8px 20px 8px 20px;
  background-color: #ddd;
}

.menu-items > div:hover {
  cursor: pointer;
  color: yellow;
  background-color: #ccc;
}

.menu-items > div.active {
  color: yellow;
  background-color: teal;
}
/* Menu styling ends */


/******************************************************************************
  Responsive styling begins
******************************************************************************/
@media only screen and (max-width:1500px) {
  /* For medium size screens: */
  .main-container {
        grid-template-areas:
      "h h h h h h h h h h h h"
      "n n n n c c c c c c c c";
  }

  header {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }

  .vertical-menu-with-title {
    width: 20%;
    font-size: 1.0em;
  }

  .menu-and-title {
    width: 67%;
  }

  .menu-icon {
    font-size: 30px;
  }

  .title-icon {
    font-size: 30px;
  }

  .article p {
    font-size: 1.0em;
    padding: 10px 30px 10px 30px;
  }

  .testing {
    font-size: 1.1em;
  }

  .panel4 {
    font-size: 1.0em;
  }
}

@media only screen and (max-width:900px) {
  /* For tablets and mobile phones: */
  .main-container {
        grid-template-areas:
      "h h h h h h h h h h h h"
      "c c c c c c c c c c c c";
  }

  .closebtn {
    visibility: visible;
  }

  .menu-and-title {
    width: 100%;
  }

  .posts {
    padding: 10px 10px 0 10px;
  }

  .menu-icon {
    visibility: visible;
  }

/******************************************************************************/
  nav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding-top: 60px;
  }

  nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  nav a:hover {
    color: #f1f1f1;
  }

  .vertical-menu-with-title {
    -webkit-box-shadow: none;
            box-shadow: none;
    position: static;
    top: auto;
    left: auto;
    margin: 100px auto;
    width: 50%;
    font-size: 1.2em;
  }

  .menu-title {
    background-color: #111;
  }

  .menu-items > div {
    display: block;
    color: #818181;
    background-color: #111;
  }

  .menu-items > div.active {
    color: teal;
    background-color: #111;
  }
}

@media only screen and (max-width:450px) {
  nav.small {
    width: 90%;
  }

  .vertical-menu-with-title {
    font-size: 0.8em;
  }
}
/* Responsive styling ends */
